.card {
  border: 2px solid transparent;
}

.primary {
  background-color: #f7fcfb;
  border-color: #2b6a56;
}

.blue {
  background-color: #e1ecfa;
  border-color: #4162fa;
}

.secondary {
  border-color: #2b6a56;
}

.inactive {
  background-color: #fafafa;
  border-color: #7a7a7a;
}

.rounded {
  background-color: white;
  border-radius: 20px;
}
