.label {
  font-family: Poppins, sans-serif !important;
  font-size: 16px !important;
  color: #34495e !important;
  font-weight: bold !important;
  line-height: 20px !important;

  label::after {
    content: '' !important;
  }
}
